<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>⛽ Posto do Jubileu</title>
</head>
<body>
    <header>
        <nav>
            <h1>⛽ Posto do Jubileu</h1>
            <ul>
                <li> <a href="/"> Home </a></li>
                <li> <a href="/consultarPedidos"> Services </a></li>
                <li> <a href="/cadastroProduto"> Products </a></li>
                <li> <a href="/cadastroFuncionario"> Employees </a></li>
                <li> <a href="/agendamentoTrocaOleo"> Schedule </a></li>
                <li> <a href="#"> About </a></li>
                <li> <a href="#"> Contact Us </a></li>
             </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <h2>Cadastro de Cliente</h2>
            <form id="cadastroClienteForm" action="/salvarCliente" method="post">
                <label for="nomeCliente">Nome:</label>
                <input type="text" id="nomeCliente" name="nomeCliente" required>

                <label for="emailCliente">E-mail:</label>
                <input type="email" id="emailCliente" name="emailCliente" required>

                <label for="telefoneCliente">Telefone:</label>
                <input type="text" id="telefoneCliente" name="telefoneCliente" required>

                <input type="submit" value="Cadastrar">
            </form>
            <table id="tabelaFuncionarios" class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>E-mail</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Os dados dos clientes serão exibidos aqui -->
                    <% clientes.forEach(cliente => { %>
                        <tr>
                            <td><%= cliente.idCliente %></td>
                            <td><%= cliente.NomeCli %></td>
                            <td><%= cliente.emailCliente %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </main>
    <footer>
        <p>&copy; 2023 Posto do Jubileu</p>
    </footer>
</body>
</html>
