<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>⛽ Posto do Jubileu</title>
</head>
<body>
    <header>
        <nav>
            <h1>⛽ Posto do Jubileu</h1>
            <ul>
                <li> <a href="/"> Home </a></li>
                <li> <a href="/consultarPedidos"> Services </a></li>
                <li> <a href="/cadastroProduto"> Products </a></li>
                <li> <a href="/cadastroFuncionario"> Employees </a></li>
                <li> <a href="/agendamentoTrocaOleo"> Schedule </a></li>
                <li> <a href="#"> About </a></li>
                <li> <a href="#"> Contact Us </a></li>
             </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <a href="/cadastroCliente"><button class="cliente_cad">Cadastrar Cliente</button></a>
            <h2>Adicionar Pedidos</h2>
            <form action="/salvarPedido" method="post">
                <label for="funcionario">Funcionário:</label>
                <input type="text" id="funcionario" name="funcionario" required>

                <label for="cliente">Cliente:</label>
                <input type="text" id="cliente" name="cliente" required>

                <label for="prduto">Produto:</label>
                <input type="text" id="prduto" name="prduto" required>
                <div class="button">
                    <input type="submit" value="Salvar Produto" class="salvarProd">
                    <input type="submit" value="Salvar Pedidos" class="salvarPed">
                </div>
            </form>
            <a href="#"><button>Consultar Pedidos</button></a>
        </div>
    </main>
    <footer>
        <p>&copy; 2023 Posto do Jubileu</p>
    </footer>
</body>
</html>
